<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>INCANTESIMI DEL PERSONAGGIO</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
<div class="background"></div>
      <div class="buttonIndietro">
        <!-- prima e unica colonna per tasto goBack -->
                <app-button
                [button] = "{ text: 'Torna indietro', expand:'', color:'red'}"
                [context] = "buttonCallbacks['indietro']"
                ></app-button>
      </div> 
      <!-- fine ButtonIndietro -->
    <div class="grid">  
      <div class="toogleOrdine">
          <!-- toggle mago -->
                <app-button
                [button] = "{ text: 'Mago', expand:'',color:'blue'}"
                [context] = "buttonCallbacks['mago']"
                ></app-button>

            <!-- toggle chierico -->
                <app-button
                [button] = "{ text: 'Chierico', expand:'', color:'yellow'}"
                [context] = "buttonCallbacks['chierico']"
                ></app-button>

            <!-- toggle warlock -->
                <app-button
                [button] = "{ text: 'Warlock', expand:'', color:'purple'}"
                [context] = "buttonCallbacks['warlock']"
                ></app-button>
      </div>  
      <div class="ordimamento-slot">

  <div class="Slot">
    <ion-label>SLOT INCANTESIMO</ion-label>
  </div>

  @if (currClass !== 'Warlock') {

    <div class="primaRiga">

      <div class="slot-spell">
        <ion-label class="Slot-indipendeti">lvl 1</ion-label>
        <div class="checkbox-group">
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
        </div>
      </div>

      <div class="slot-spell">
        <ion-label class="Slot-indipendeti">lvl 4</ion-label>
        <div class="checkbox-group">
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
        </div>
      </div>

      <div class="slot-spell">
        <ion-label class="Slot-indipendeti">lvl 7</ion-label>
        <div class="checkbox-group">
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
        </div>
      </div>

    </div>

    <div class="secondaRiga">

      <div class="slot-spell">
        <ion-label class="Slot-indipendeti">lvl 2</ion-label>
        <div class="checkbox-group">
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
        </div>
      </div>

      <div class="slot-spell">
        <ion-label class="Slot-indipendeti">lvl 5</ion-label>
        <div class="checkbox-group">
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
        </div>
      </div>

      <div class="slot-spell">
        <ion-label class="Slot-indipendeti">lvl 8</ion-label>
        <div class="checkbox-group">
          <ion-checkbox></ion-checkbox>
        </div>
      </div>

    </div>

    <div class="terzaRiga">

      <div class="slot-spell">
        <ion-label class="Slot-indipendeti">lvl 3</ion-label>
        <div class="checkbox-group">
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
        </div>
      </div>

      <div class="slot-spell">
        <ion-label class="Slot-indipendeti">lvl 6</ion-label>
        <div class="checkbox-group">
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
        </div>
      </div>

      <div class="slot-spell">
        <ion-label class="Slot-indipendeti">lvl 9</ion-label>
        <div class="checkbox-group">
          <ion-checkbox></ion-checkbox>
        </div>
      </div>

    </div>

  } @else {

    <div class="warlock">

      <div class="slot-spell">
        <ion-label class="Slot-warlock">lvl 5</ion-label>

        <div class="checkbox-group">
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
          <ion-checkbox></ion-checkbox>
        </div>
      </div>
    </div>
  }
  </div>
</div>


  <div class="caratteristiche-incantatore">
    <ion-label>Bonus attacco incantesimo: {{ currAttBonus }}</ion-label>
    <ion-label>CD tiro salvezza: {{ currCD }}</ion-label>
    <ion-label>Modificatore da incantatore: {{ currModifier }}</ion-label>
    <ion-label>Caratteristica da incantatore: {{ currAbility }}</ion-label>
  </div>

  <!-- altra mega griglia per incantesimi -->

  <div class="gridContainer">
    <ion-grid>
      
      <ion-row class="BaseTabella">

        <!-- nome -->
        <ion-col class="ColonnaTabella">
            <ion-label class=Base>Nome</ion-label>
        </ion-col>

        <!-- Livello -->
        <ion-col class="ColonnaTabella">
            <ion-label class=Base>Livello</ion-label>
        </ion-col>

        <!-- tempo di lancio + rituale -->
        <ion-col class="ColonnaTabella">
            <ion-label class=Base>Tempo di lancio</ion-label>
        </ion-col>

        <!-- durata -->
        <ion-col class="ColonnaTabella">
            <ion-label class=Base>Durata</ion-label>
        </ion-col>

        <!-- gittata -->
        <ion-col class="ColonnaTabella">
            <ion-label class=Base>Gittata</ion-label>
        </ion-col>

        <!-- concentrazione -->
        <ion-col class="ColonnaTabella">
            <ion-label class=Base>Concentrazione</ion-label>
        </ion-col>

        <!-- componenti -->
        <ion-col class="ColonnaTabella">
            <ion-label class=Base>Componenti</ion-label>
        </ion-col>

        <!-- Scuola di magia -->
        <ion-col class="ColonnaTabella">
            <ion-label class=Base>Scuola di magia</ion-label>
        </ion-col>

      </ion-row>
    </ion-grid>

    <div class="scrollbar">
      <ion-grid>

      @for (incantesimo of currIncantesimi; track incantesimo) {
        <ion-row class="Centrare">

          <!-- nome -->
          <ion-col class="NomeSpell">
            <ion-item>
              <ion-label class="NomeVisualizzato"  (click)="incantesimo.descrizione($event)">{{incantesimo.nome}}</ion-label>
            </ion-item>
          </ion-col>

          <!-- Livello -->
          <ion-col>
            <ion-item>
              <ion-label>{{incantesimo.livello}}</ion-label>
            </ion-item>
          </ion-col>

          <!-- tempo di lancio + rituale -->
          <ion-col>
            <ion-item>
              <ion-label>{{incantesimo.tmpLanc}}</ion-label>
            </ion-item>
          </ion-col>

          <!-- durata -->
          <ion-col>
            <ion-item>
              <ion-label>{{incantesimo.durata}}</ion-label>
            </ion-item>
          </ion-col>

          <!-- gittata -->
          <ion-col>
            <ion-item>
              <ion-label>{{incantesimo.gittata}}</ion-label>
            </ion-item>
          </ion-col>

          <!-- concentrazione -->
          <ion-col>
            <ion-item>
              <ion-label>{{incantesimo.concentrazione}}</ion-label>
            </ion-item>
          </ion-col>

          <!-- componenti -->
          <ion-col>
            <ion-item>
              <ion-label>{{incantesimo.componenti}}</ion-label>
            </ion-item>
          </ion-col>

          <!-- Scuola di magia -->
          <ion-col>
            <ion-item>
              <ion-label>{{incantesimo.scMag}}</ion-label>
            </ion-item>
          </ion-col>

        </ion-row>
      }

    </ion-grid>
  </div>
</div>

</ion-content>
