.report-card {
  height: fit-content;
  background: rgb(194, 194, 194);
  border-radius: 20px;
  border: 1.5px solid black;
  display: flex;
  flex-direction: column;
  padding: 1.5% 2.5% 1.5% 2.5%;


  .fields {
    .field {
      display: flex;
      flex-direction: column;
      font-size: clamp(2cqmin, 3cqmin, 5cqmin);
      margin-top: 1%;
      margin-bottom: 1%;
      padding: 5px;
      text-align: left;
      align-content: center;
      flex-grow: 1;
      font-family: 'Courier New', Courier, monospace;
      color: rgb(33, 33, 33);
      
      .value {
        padding: 10px;
        background: rgb(210, 210, 210);
      }
    }
  }
}