<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="Logo">DnDhub</ion-title>
    <ion-title class="Titolo">Accedi o Registrati</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">

  <div class="background"></div>

  <div class="content">

    <ion-text class="subtitle">
      Inserisci le tue credenziali per accedere o registrarti.
    </ion-text>

    <form [formGroup]="formGroup" (ngSubmit)="doRegister()">
      <ion-item lines="full">
        <ion-input
        formControlName = "email" 
        type="text" 
        placeholder="Email"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input
        formControlName = "password" 
        type="password" 
        placeholder="Password"
        >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input
        formControlName = "username" 
        type="text" 
        placeholder="Username"
        ></ion-input>
      </ion-item>

      <div class="button-wrapper">
        <app-button 
          [button]="loginButton"
        >
        </app-button>
      </div>
    </form>

    <div class="link-wrapper">
      <ion-text>
        Hai già un account?
      </ion-text>

      <a routerLink="/login-page" class="login-page-link">
        Accedi ora!
      </a> 
    </div>

  </div>

</ion-content>