<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo">DnDhub</ion-title>
    <ion-title class="title">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">

  <div class="background"></div>

  <div class="form">
    <ion-text class="subtitle">
      Insert the following credentials to register a new account
    </ion-text>

    <div class="entry-group">
      <app-entry #username class="entry"
        placeholder="Insert a username"
        fill="outline"
        label="Username"
        labelPlacement="floating"
      ></app-entry>
      <div class="padding"></div>
      <app-entry #email class="entry"
        placeholder="Insert an email"
        fill="outline"
        label="Email"
        labelPlacement="floating"
      ></app-entry>
      <div class="padding"></div>
      <app-entry #password class="entry"
        [passwordToggle]=true
        placeholder="Insert a password"
        fill="outline"
        label="Password"
        labelPlacement="floating"
      ></app-entry>
      <app-button
      [button]="{text: 'Register', expand: 'false'}"
      [context]="{onClick: doRegister}"
      ></app-button>
    </div>

    <div class="link-wrapper">
      <ion-text>
        Already own an account?
      </ion-text>

      <a routerLink="/login-page" class="login-page-link">
        Login now!
      </a> 
    </div>

  </div>

</ion-content>