<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="Logo">DnDhub</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">

  <div class="background"></div>
  <ion-title class="Titolo">Log in to your personal areas</ion-title>
<div class="grid-centrale">
  <div class="portal dm" (click)="goto('/campaigns')">
    <div class="portal-content">
      <h2>Dungeon Master</h2>
      <p class="desc">Create your world</p>
    </div>
  </div>

  <div class="portal player" (click)="goto('/characters')">
    <div class="portal-content">
      <h2>Player</h2>
      <p class="desc">Create your character</p>
    </div>
  </div>

</div>
</ion-content>
