<ion-content>

  <div id="pageTitle">
    <div>
      <ion-title id="title">Scheda personaggio</ion-title>
    </div>
  </div>

  <!-- settore iniziale con:
       prima colonna: 
        - immagine
       
       seconda colonna
        - hp
        - dadi vita
        - ca
       
       terza colonna: 
        - livello
        - bonus competenza 
        - tiri salvezza contro la morte 
        
       quarta colonna:
        - inspirazione eroica 
        - iniziativa 
        - velocità -->


  <!-- PER FAVORE non toccate la grid, è stato un bordello da sistemare -->

  <ion-item class="gridContainer">
    <ion-grid class="upperGrid">
      

      <ion-row>
        <!-- solo immagine qua -->
        <ion-col>
          <!-- prima colonna solo immagine -->
          <!-- manca il frame, metto un placeholder -->
          <ion-item class="placeholderFrame">
            <img src="https://i.redd.it/c8u5n61j3pic1.png" alt="character img">
          </ion-item>
        </ion-col>

        <ion-col>
          <!-- hp -->
           <ion-row>

            <ion-col>
              <ion-item>
                <!-- dati mock, da aggiungere col db -->
                <ion-label>Punti ferita: 20/40 + 5</ion-label>
                <!-- 20 / 40 rappresenta gli hp normali, il +5 sono gli hp temporanei -->
              </ion-item>
            </ion-col>

            <ion-col>
              <!-- livello -->
              <ion-item>
                <ion-label>Chierico lvl 10/Mago lvl 10</ion-label>
              </ion-item>
            </ion-col>
            
            <!-- ispirazione eroica -->
            <ion-col>
              <ion-item>
                <app-checkbox [testo]="'Ispirazione eroica'"></app-checkbox>
              </ion-item>
            </ion-col>

            <!-- razza -->
            <ion-col>
                <ion-item>
                  <ion-label>Elfo dei boschi</ion-label>
                </ion-item>
            </ion-col>

           </ion-row>

           <ion-row>

            <!-- dadi vita -->
            <ion-col>
              <ion-item>
                <!-- il + è per le multiclassi -->
                <ion-label>Dadi vita: 6/10 (d6) + 7/10 (d8)</ion-label>
              </ion-item>
            </ion-col>

            <!-- bonus competenza -->
            <ion-col>
              <ion-item>
                <ion-label>Bonus Competenza: +6</ion-label>
              </ion-item>
            </ion-col>

            <!-- iniziativa -->
            <ion-col>
              <ion-item>
                <ion-label>Iniziativa: +36</ion-label>
              </ion-item>
            </ion-col>

            <!-- taglia -->
              <ion-col>
                <ion-item>
                  <ion-label>Taglia: media</ion-label>
                </ion-item>
              </ion-col>

           </ion-row>

           <ion-row>

            <!-- ca -->
            <ion-col>
              <ion-item>
                <ion-label>CA: 45</ion-label>
              </ion-item>
            </ion-col>

            <!-- tiri salvezza contro la morte -->
            <ion-col>
              <ion-item>
                <ion-label>Tiri salvezza contro la morte</ion-label>
                <ion-label>Successi</ion-label>
                <app-checkbox></app-checkbox>
                <app-checkbox></app-checkbox>
                <app-checkbox></app-checkbox>
              </ion-item>

              <ion-item>
                <ion-label>Fallimenti</ion-label>
                <app-checkbox></app-checkbox>
                <app-checkbox></app-checkbox>
                <app-checkbox></app-checkbox>
              </ion-item>
            </ion-col>

            <!-- velocità -->
            <ion-col>
              <ion-item>
                <ion-label>Velocità: 180 metri</ion-label>
              </ion-item>
            </ion-col>


            <!-- percezione passiva -->
              <ion-col>
                <ion-item>
                  <ion-label>Percezione passiva: 300</ion-label>
                </ion-item>
              </ion-col>
           </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>


 <!-- adesso una griglia con le statistiche -->
 <!-- le prime tre sono quelle fisiche, le altre quelle mentali
  Le statistiche saranno accordion con le abilità dentro -->
  <ion-item>
    <ion-grid>
      <!-- prima riga -->
      <ion-row>
        <!-- prima colonna FORZA -->
        <ion-col>
          <div class="statAccordion">
            <app-accordion
            [accordions] = "[accordions['forza']]"
            ></app-accordion>
          </div>
        </ion-col>

        <!-- seconda colonna DESTREZZA -->
        <ion-col>
          <div class="statAccordion">
            <app-accordion
            [accordions] = "[accordions['destrezza']]"
            ></app-accordion>
          </div>
        </ion-col>

        <!-- terza colonna COSTITUZIONE -->
        <ion-col>
          <div class="statAccordion">
            <app-accordion
            [accordions] = "[accordions['costituzione']]"
            ></app-accordion>
          </div>
        </ion-col>
      </ion-row>


      <!-- seconda riga -->
      <ion-row>
        <!-- prima colonna INTELLIGENZA -->
        <ion-col>
          <div class="statAccordion">
            <app-accordion
            [accordions] = "[accordions['intelligenza']]"
            ></app-accordion>
          </div>
        </ion-col>

        <!-- seconda colonna SAGGEZZA -->
        <ion-col>
          <div class="statAccordion">
            <app-accordion
            [accordions] = "[accordions['saggezza']]"
            ></app-accordion>
          </div>
        </ion-col>

        <!-- terza colonna COSTITUZIONE -->
        <ion-col>
          <div class="statAccordion">
            <app-accordion
            [accordions] = "[accordions['costituzione']]"
            ></app-accordion>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <!-- ULTIMA griglia con lista abilità e piccolo div per le note -->
  <ion-item>
    <ion-grid>
      <ion-row>

        <!-- prima colonna con lista -->
        <ion-col>
          
          <ion-list>
            <!-- menu abilità -->
            <ion-item>
              <app-accordion
              [accordions] = "[abilityAccordions['abilita']]"
              ></app-accordion>
            </ion-item>
          
            <!-- menu inventario -->
            <ion-item>
              <app-accordion
              [accordions] = "[abilityAccordions['inventario']]"
              ></app-accordion>
            </ion-item>

            <app-unordered-list-element
            [text] = "'Incantesimi'"
            [context] = "buttonCallbacks['placeholder']"
            ></app-unordered-list-element>
          </ion-list>
        </ion-col>

        <!-- seconda colonna per inserire note personali -->
        <ion-col>
          <div class="personalNotes" style="border: 1px solid white;">
            <ion-label>Note personali</ion-label>
            <app-entry label="''"></app-entry>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>