<ion-content>

  <div class="pageTitle">
    <div>
      <ion-title class="title">Scheda personaggio</ion-title>
      <ion-title class="nome">Pino Il Ballerino</ion-title>
      <!-- <ion-title>{{characterInfo.health}} - level {{characterInfo.level}}</ion-title> -->
    </div>
  </div>

  <!-- settore iniziale con:
       prima colonna: 
        - immagine
       
       seconda colonna
        - hp
        - dadi vita
        - ca
       
       terza colonna: 
        - livello
        - bonus competenza 
        - tiri salvezza contro la morte 
        
       quarta colonna:
        - inspirazione eroica 
        - iniziativa 
        - velocità -->


  <div class="gridContainer">
    <div class="upperGrid">
      <!-- solo immagine qua -->
      <!-- manca il frame, metto un placeholder -->
      <div class="placeholderFrame">
        <img src="https://i.redd.it/c8u5n61j3pic1.png" alt="character img">
      </div>
      <div class="right">
        <!-- dati mock, da aggiungere col db -->
        <div class="fight">
          <ion-label>Health Points: {{currHealth}}/{{characterInfo.health}}</ion-label>
          <ion-label>Armor Class: {{maxCA}}</ion-label>
          @if(shieldCA !== 0) {
            <ion-label>Armor Class with Shield: {{maxCA + shieldCA}}</ion-label>
          }
          <ion-label>Hit die: {{currHitDies}}d{{hitDie}}/{{characterInfo.level}}d{{hitDie}}</ion-label>
        </div>
        <div class=TiriGenerici>
          <div class="TiriVSmorte">
            <div class="TiriSalvezza">death saving throw</div>
            <div class="Tiri">
              <!-- <ion-label>Success</ion-label> -->
              <ion-checkbox></ion-checkbox>
              <ion-checkbox></ion-checkbox>
              <ion-checkbox></ion-checkbox>
            </div>
            <div class="Tiri">
              <!-- <ion-label>Fallimenti</ion-label> -->
               <!-- in certe schede non scrivono fallimenti o successi ma sono checkbox colorate in maniera diverse -->
              <ion-checkbox></ion-checkbox>
              <ion-checkbox></ion-checkbox>
              <ion-checkbox></ion-checkbox>
            </div>
          </div>
          <div Class="Ispirazione-Eroica">
            <ion-label class="Eroica">Eroic Inspiration</ion-label>
            <ion-checkbox></ion-checkbox>
          </div>
        </div>
        <div class="species">
          <ion-label>Class: {{characterInfo.class}}</ion-label>
          <ion-label>Subclass: {{characterInfo.subclass}}</ion-label>
          <ion-label>Proficiency bonus: +{{characterInfo.proficiency_bonus}}</ion-label>
          <ion-label>Species: {{characterInfo.species}}</ion-label>
          @if(characterInfo.subspecies !== undefined) {
            <ion-label>{{characterInfo.subspecies}}</ion-label>
          }
        </div>

        <div class="informazioni">
          <ion-label>Initiative: {{dexModifier}}</ion-label>
      
          <ion-label>Size: {{characterInfo.size}}</ion-label>
          @for(abilityScore of abilityScoresInfos; track abilityScore) {
            @for(skill of abilityScore.skills; track skill) {
              @if (skill.name === 'Perception') {
                <ion-label>Passive perception: {{10 + skill.modifier}}</ion-label>
              }
            }
          }
          <ion-label>Speed: {{characterInfo.speed}} ft</ion-label>

        </div>
      </div>
    </div>
  </div>


  <div class="statAccordionFrame">
    <ion-accordion-group class="accordionGroup" value="statAccordionGroup" [multiple]="true" expand="inset" animated="true">
      @for(abilityScore of abilityScoresInfos; track abilityScore) {
        <ion-accordion class="statAccordion genericAccordion" [value]="abilityScore.index">
          <ion-item class="accHeader" slot="header" color="light">
            @if (abilityScore.imageURL !== undefined) {
              <ion-thumbnail slot="start">
                <img id="accImg" alt="placeholder img" [src]="abilityScore.imageURL">
              </ion-thumbnail>
            }
            @else {
              <ion-thumbnail slot="start">
                <img alt="placeholder img" [src]="'Card.defaultImageURL()'">
              </ion-thumbnail>
            }
            <div class="headerContentFrame">
              <h1 class="accTitle">{{abilityScore.full_name}}</h1>
              <h1>-</h1>
              <h1>{{abilityScore.stat_value}}</h1>
              <h1>  [ {{abilityScore.stat_modifier}} ]</h1>
            </div>
          </ion-item>
          <div class="ionPadding accContent" slot="content">
            <h3>Saving throw: {{abilityScore.saving_throw_value}}</h3>
            <div class="skillsContainer">
              @for(skill of abilityScore.skills; track skill) {
                <div class="skill">
                  <ion-label>{{skill.name}}: {{skill.modifier}}</ion-label>
                </div>
              }
            </div>
          </div>
        </ion-accordion>
      }
    </ion-accordion-group>
  </div>

  <!-- ULTIMA griglia con lista abilità e piccolo div per le note -->
  <ion-grid>
    <ion-row>

      <!-- prima colonna con lista -->
      <ion-col>

        <ion-list>
          <div class="languageAccordionContainer">
            <ion-accordion-group class="accordionGroup" value="languageAccordionGroup" [multiple]="true" expand="inset" animated="true">
              <ion-accordion class="languageAccordion genericAccordion" value="languageAccordion">
                <ion-item class="accHeader" slot="header" color="light">
                  <h1 class="accTitle">Languages</h1>
                </ion-item>
                <div class="ionPadding accContent" slot="content">
                  @for (lang of characterLanguages; track lang) {
                    <div class="language">
                      <ion-label>- {{lang.name}}</ion-label>
                    </div>
                  }
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>

          <!-- menu abilità -->
          <div class="featAccordionContainer">
            <ion-accordion-group class="accordionGroup" value="featAccordionGroup" [multiple]="true" expand="inset" animated="true">
              <ion-accordion class="featAccordion genericAccordion" value="featAccordion">
                <ion-item class="accHeader" slot="header" color="light">
                  <h1 class="accTitle">Feats</h1>
                </ion-item>
                <div class="ionPadding accContent" slot="content">
                  @for (feat of characterFeats; track feat) {
                    <div class="language">
                      <ion-label>- {{feat}}</ion-label>
                    </div>
                  }
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>

          <!-- menu inventario -->
          <div class="equipmentAccordionContainer">
            <ion-accordion-group class="accordionGroup" value="equipmentAccordionGroup" [multiple]="true" expand="inset" animated="true">
              <ion-accordion class="equipAccordion genericAccordion" value="equipmentAccordion">
                <ion-item class="accHeader" slot="header" color="light">
                  <h1 class="accTitle">Equipment</h1>
                </ion-item>
                <div class="ionPadding accContent" slot="content">
                  @for (equip of characterEquipment; track equip) {
                    <div class="equipment">
                      <ion-label>- {{equip.name}}</ion-label>
                    </div>
                  }
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>

          <app-button [button]="{text: 'Incantesimi', expand:''}" 
            [context]="buttonCallbacks['placeholder']"></app-button>
        </ion-list>
      </ion-col>

      <!-- seconda colonna per inserire note personali -->
      <ion-col>
        <div class="personalNotes" style="border: 1px solid white;">
          <ion-label>Note personali</ion-label>
          <app-entry label="''"></app-entry>
        </div>
        <div buttonChange>
          <app-button [button]="{text:'Edit', expand:''}"
          [context]="changeCallback['changes']"></app-button>
        </div>
        <div buttonDelete>
          <app-button [button]="{text:'Delete', expand:''}"
          [context]="deleteCallback['deletePG']"></app-button>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>