<ion-content>
  <app-title
  [title] = "'Scegli le statistiche'"
  ></app-title>
  
  <!-- tre bottoni, uno accanto all'altro che permettono di modificare il metodo di selezione statistiche -->

  <div class="goBack">
    <app-button
    [button] = "{ text: 'Torna indietro', expand: ''}"
    [context] = "buttonCallbacks['previousPage']"
    ></app-button>
    <!-- manca il context -->
  </div>

  <ion-item class="gridContainer buttonGrid">
    <ion-grid>
      <ion-row>

        <!-- bottono selezione manuale -->
        <ion-col>
          <div class="HPchoiceButtonContainer">
            <app-button
            class = "HPchoiceButton"
            [margin] = "false"
            [button] = "{ text: 'Scelta manuale', expand: ''}"
            [context] = "buttonCallbacks['manual']"
            ></app-button>
          </div>
        </ion-col>

        <!-- bottone selezione array standard -->
        <ion-col>
          <div class="HPchoiceButtonContainer">
            <app-button
            [margin] = "false"
            class = "HPchoiceButton"
            [button] = "{ text: 'Scelta array standard', expand: ''}"
            [context] = "buttonCallbacks['stdArr']"
            ></app-button>
          </div>
        </ion-col>

        <!-- bottone selezione casuale (4d6 drop one) -->
        <ion-col>
          <div class="HPchoiceButtonContainer">
            <app-button
            [margin] = "false"
            class = "HPchoiceButton"
            [button] = "{ text: 'Scelta casuale', expand: ''}"
            [context] = "buttonCallbacks['random']"
            ></app-button>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>

  <!-- adesso tre grid diverse in base alla flag attiva -->
  @if (manualSelection===true) {
    <div class="manualStatsListContainer">
      <ul class="manualStatsList">
        
        <!-- selettore FORZA -->
        <div class="statSelectionFrame">
          <div class="dragEntryBlock">
            <app-label>Strength</app-label>
            <app-drag-entry
              #strenghtDragEntry
              id="strenghtDragEntry"
              [sensitivity] = 1
              [max] = 20
              [min] = 1
              ></app-drag-entry>
          </div>
          <div class="modifierContainer">
            <app-label>Strength modifier: {{statModifierDict[strenghtDragEntry.value]}}</app-label>
          </div>
        </div>

        <!-- selettore DEXTERITY -->
        <div class="statSelectionFrame">
          <div class="dragEntryBlock">
            <app-label>Dexterity</app-label>
            <app-drag-entry
              #dexterityDragEntry
              id="dexterityDragEntry"
              [sensitivity] = 1
              [max] = 20
              [min] = 1
              ></app-drag-entry>
          </div>
          <div class="modifierContainer">
            <app-label>Dexterity modifier: {{statModifierDict[dexterityDragEntry.value]}}</app-label>
          </div>
        </div>

        <!-- selettore CONSTITUTION -->
        <div class="statSelectionFrame">
          <div class="dragEntryBlock">
            <app-label>Constitution</app-label>
            <app-drag-entry
              #constitutionDragEntry
              id="constitutionDragEntry"
              [sensitivity] = 1
              [max] = 20
              [min] = 1
              ></app-drag-entry>
          </div>
          <div class="modifierContainer">
            <app-label>Constitution modifier: {{statModifierDict[constitutionDragEntry.value]}}</app-label>
          </div>
        </div>

        <!-- selettore INTELLIGENCE -->
        <div class="statSelectionFrame">
          <div class="dragEntryBlock">
            <app-label>Intelligence</app-label>
            <app-drag-entry
              #intelligenceDragEntry
              id="intelligenceDragEntry"
              [sensitivity] = 1
              [max] = 20
              [min] = 1
              ></app-drag-entry>
          </div>
          <div class="modifierContainer">
            <app-label>Intelligence modifier: {{statModifierDict[intelligenceDragEntry.value]}}</app-label>
          </div>
        </div>


        <!-- selettore WISDOM -->
        <div class="statSelectionFrame">
          <div class="dragEntryBlock">
            <app-label>Wisdom</app-label>
            <app-drag-entry
              #wisdomDragEntry
              id="wisdomDragEntry"
              [sensitivity] = 1
              [max] = 20
              [min] = 1
              ></app-drag-entry>
          </div>
          <div class="modifierContainer">
            <app-label>Wisdom modifier: {{statModifierDict[wisdomDragEntry.value]}}</app-label>
          </div>
        </div>

        <!-- selettore CHARISMA -->
        <div class="statSelectionFrame">
          <div class="dragEntryBlock">
            <app-label>Charisma</app-label>
            <app-drag-entry
              #charismaDragEntry
              id="charismaDragEntry"
              [sensitivity] = 1
              [max] = 20
              [min] = 1
              ></app-drag-entry>
          </div>
          <div class="modifierContainer">
            <app-label>Charisma modifier: {{statModifierDict[charismaDragEntry.value]}}</app-label>
          </div>
        </div>


      </ul>
    </div>
  }

  @if (stdArray===true) {
    <ion-item class="gridContainer">
      <app-radio-button
      [radios] = "radios"
      [groupValue] = "'radioGroup'"
      ></app-radio-button>
    </ion-item>
  }

  @if (randomSelection===true) {
    <ion-item class="gridContainer">
      <app-label id="randomLabel">Le statistiche rollate sono: {{rollStats()}} / {{rollStats()}} / {{rollStats()}} / {{rollStats()}} / {{rollStats()}} / {{rollStats()}}</app-label>
    </ion-item>
  }
<!-- 
  <div>
    <app-label>Seleziona 3 lingue conosciute dal tuo personaggio, Ancora {{LingueSelezionate.length}}/{{maxLingue}}</app-label>
  </div>
@for (lingua of lingue; track lingua.id) {

  <app-checkbox
    [testo]="lingua.name"
    [checked]="LingueSelezionate.includes(lingua.name)"
    [disabled]="
      LingueSelezionate.length >= maxLingue &&
      !LingueSelezionate.includes(lingua.name)
    "
    (checkedChange)="onLanguageSelect(lingua)">
  </app-checkbox>

} -->
 
<!-- Io immaginavo un toogle per fare apparire un botton una volta che sia le lingue che le stats 
erano state selezionate però boh poi ditemi voi -->

  <div class="nextPage">
    <app-button
    [button] = "{ text: 'Prossima pagina', expand: ''}"
    [context] = "buttonCallbacks['nextPage']"
    ></app-button>
  </div>
  
  

</ion-content>
