<ion-content>
  <div id="pageTitle">
    <div>
      <ion-title id="title">Scegli le statistiche</ion-title>
    </div>
  </div>
  
  <!-- tre bottoni, uno accanto all'altro che permettono di modificare il metodo di selezione statistiche -->

  <ion-item class="gridContainer">
    <ion-grid>
      <ion-row>

        <!-- bottono selezione manuale -->
        <ion-col>
          <app-button
          [button] = "{ text: 'Scelta manuale', expand: ''}"
          [context] = "buttonCallbacks['manual']"
          ></app-button>
        </ion-col>

        <!-- bottone selezione array standard -->
        <ion-col>
          <app-button
          [button] = "{ text: 'Scelta array standard', expand: ''}"
          [context] = "buttonCallbacks['stdArr']"
          ></app-button>
        </ion-col>

        <!-- bottone selezione casuale (4d6 drop one) -->
        <ion-col>
          <app-button
          [button] = "{ text: 'Scelta casuale', expand: ''}"
          [context] = "buttonCallbacks['random']"
          ></app-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-item>

  <!-- adesso tre grid diverse in base alla flag attiva -->
  @if (manualSelection===true) {
    <ion-item  class="gridContainer"> 
      <ion-grid>

        <!-- riga con i nomi delle stats -->
        <ion-row>

          <!-- selettore FORZA -->
          <ion-col>
            <ion-item>
              <ion-label>Forza</ion-label>
            </ion-item>
          </ion-col>

          <!-- selettore DESTREZZA -->
          <ion-col>
            <ion-item>
              <ion-label>Destrezza</ion-label>
            </ion-item>
          </ion-col>

          <!-- selettore COSTITUZIONE -->
          <ion-col>
            <ion-item>
              <ion-label>Costituzione</ion-label>
            </ion-item>
          </ion-col>

          <!-- selettore INTELLIGENZA -->
          <ion-col>
            <ion-item>
              <ion-label>Intelligenza</ion-label>
            </ion-item>
          </ion-col>

          <!-- selettore SAGGEZZA -->
          <ion-col>
            <ion-item>
              <ion-label>Saggezza</ion-label>
            </ion-item>
          </ion-col>

          <!-- selettore CARISMA -->
          <ion-col>
            <ion-item>
              <ion-label>Carisma</ion-label>
            </ion-item>
          </ion-col>

        </ion-row>

        <!-- riga con number entry -->
        <ion-row>

          <!-- selettore forza -->
          <ion-col>
            <ion-item>
              <ion-label>Placeholder number entry</ion-label>
            </ion-item>
          </ion-col>

          <!-- selettore destrezza -->
          <ion-col>
            <ion-item>
              <ion-label>Placeholder number entry</ion-label>
            </ion-item>
          </ion-col>

          <!-- selettore costituzione -->
          <ion-col>
            <ion-item>
              <ion-label>Placeholder number entry</ion-label>
            </ion-item>
          </ion-col>

          <!-- selettore intelligenza -->
          <ion-col>
            <ion-item>
              <ion-label>Placeholder number entry</ion-label>
            </ion-item>
          </ion-col>

          <!-- selettore saggezza -->
          <ion-col>
            <ion-item>
              <ion-label>Placeholder number entry</ion-label>
            </ion-item>
          </ion-col>

          <!-- selettore carisma -->
          <ion-col>
            <ion-item>
              <ion-label>Placeholder number entry</ion-label>
            </ion-item>
          </ion-col>

        </ion-row>

      </ion-grid>
    </ion-item>
  }

  @if (stdArray===true) {
    <app-radio-button
    [radios] = "radios"
    [groupValue] = "'radioGroup'"
    ></app-radio-button>
  }

  @if (randomSelection===true) {
    <ion-item>
      <ion-label>Le statistiche rollate sono: {{rollStats()}} / {{rollStats()}} / {{rollStats()}} / {{rollStats()}} / {{rollStats()}} / {{rollStats()}}</ion-label>
    </ion-item>
  }

</ion-content>
