<ion-content>
  <div class="backgroundimage"></div>
  <div class="accordionDiv">
    <ion-accordion-group>
      <ion-accordion class="optsAccordion">
        <div slot="header" class="accImgFrame">
          <img class="optImg" alt="placeholderImg" src="\assets\icon\Menu-dato.dndhub.SVG">
        </div>
        <div class="ion-padding accContent" slot="content">
          @if(!isLogged()) {
          <div class="linkContainer">
            <a href="/login-page">
              Login
            </a>
          </div>
          <div class="linkContainer bottomLinkContainer">
            <a href="/signin-page">
              Registrati
            </a>
          </div>
          }
          @else {
          <div class="linkContainer">
            <a routerLink="/type-player-login">
              Accedi alle aree personali
            </a>
          </div>
          <div class="linkContainer bottomLinkContainer">
            <a routerLink="/profile">
              Profilo personale
            </a>
          </div>
          }
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <div class="gridTitolo">
    <ion-title class="title">DnDhub</ion-title>
  </div>

  <section id="carousel-block">
    <div id="carousel-label">Personaggi creati recentemente</div>
    <app-carousel class="carousel" [cards]="cards"></app-carousel>
  </section>


  <div class="gallerySection">
    <div class="galleryRow">
      <div class="immagine campagna"></div>
      <div class="descrizione">
        <h3>Campagne</h3>
        <p>Boh fai la tua campagna Freezer</p>
      </div>
    </div>

    <div class="galleryRow">
      <div class="immagine personaggio"></div>
      <div class="descrizione">
        <h3>Personaggi</h3>
        <p>Puoi creare qui i tuoi personaggi e anche, gestirli tramite la nostra pagine riservata!
        </p>
      </div>
    </div>

    <div class="galleryRow">
      <div class="immagine campagna1"></div>
      <div class="descrizione">
        <h3>Gestione</h3>
        <p>Gestisci le tue campagne O BROLY LO FARÀ AL POSTO TUO</p>
      </div>
    </div>
  </div>


  <ion-footer>
    <div class="info-panel-feedback">
      <div class="info-panel">
        <div class="info-panel-title">Lascia un feedback</div>
        <div class="info-panel-content">
          <ion-input #feedback_title
          placeholder="Titolo"
          ></ion-input>
          <ion-textarea #feedback_content
          placeholder="Descrizione"
          rows="7"
          ></ion-textarea>
          <app-button
          [button]="{text: 'Invia feedback', expand: 'false'}"
          [context]="{onClick: sendFeedback}"
          ></app-button>
        </div>
      </div>
    </div>
    <div class="info-panel-contacts">
      <div class="info-panel">
        <div class="info-panel-title">Contattaci</div>
        <div class="info-panel-content"></div>
      </div>
    </div>
  </ion-footer>
</ion-content>