.carouselBlock {
    vertical-align: middle;
    width: 70vw;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}
