<ion-content>
  <div class="backgroundimage"></div>
  <div class="accordionDiv">
    <ion-accordion-group>
      <ion-accordion class="optsAccordion">
        <div slot="header" class="accImgFrame">
          <img class="optImg" alt="placeholderImg" src="\assets\icon\Menu-dato.dndhub.SVG">
        </div>
        <div class="ion-padding accContent" slot="content">
          @if(!isLogged()) {
          <div class="linkContainer">
            <a href="/login-page">
              Login
            </a>
          </div>
          <div class="linkContainer bottomLinkContainer">
            <a href="/signin-page">
              Register
            </a>
          </div>
          }
          @else {
          <div class="linkContainer">
            <a routerLink="/type-player-login">
              Access to personal areas
            </a>
          </div>
          <div class="linkContainer bottomLinkContainer">
            <a routerLink="/profile">
              Profile
            </a>
          </div>
          }
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <div class="gridTitolo">
    <ion-title class="title">DnDhub</ion-title>
  </div>

  <section id="carousel-block">
    <div id="carousel-label">Characters created on DnDHUB</div>
    <app-carousel class="carousel" [cards]="charCards()"></app-carousel>
  </section>

  <div class="gallerySection">
  @for(card of descriptionCards; track card) {
    
    <div class="galleryRow">
      <div class="immagine"
      style="
      background-image: url({{card.img}});
      "
      ></div>
      <div class="descrizione">
        <h3>{{card.title}}</h3>
        <p>{{card.content}}</p>
      </div>
    </div>  
  }
  </div>

  <ion-footer>
    <div class="footerInfo">
      <div class="infoContainer">
        <h3>Developers</h3>
        <ul>
          <li>Giovanni Butera</li>
          <li>Francesco Pollarà</li>
          <li>Riccardo Campanella</li>
        </ul>
      </div>
      <div class="infoContainer secondInfo">
        <h3>Credits</h3>
        <ul>
          <li><app-label>DataBase 1:</app-label> <a href="https://github.com/5e-bits/5e-database">'https://github.com/5e-bits/5e-database'</a></li>
          <li><app-label>DataBase 2:</app-label> <a href="https://gist.github.com/dmcb/4b67869f962e3adaa3d0f7e5ca8f4912">'https://gist.github.com/dmcb/4b67869f962e3adaa3d0f7e5ca8f4912'</a></li>
        </ul>
      </div>
    </div>
  </ion-footer>
</ion-content>