#pageTitle {
    width: 100vw;
    height: 10vh;
    align-content: center;
    justify-items: center;
    //i colori saranno poi da standardizzare,
    //per ora sto andando un po' a sentimento
    background: radial-gradient(
    circle at 0% 100%, 
    rgba(246, 66, 66, 1) 5%, 
    rgb(255, 197, 5, 1) 100%
  );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px rgba(246, 66, 66, 0.3) ;
}