#pageTitle {
    width: 100vw;
    height: 10vh;
    align-content: center;
    justify-items: center;
    //i colori saranno poi da standardizzare,
    //per ora sto andando un po' a sentimento
    background: linear-gradient(0deg,rgba(30, 57, 232, 1) 0%, rgba(36, 36, 38, 1) 68%);;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 5px rgba(49, 76, 142, 0.3);
}