.backgroundSelectionFrame {
    width: 90vw;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
    white-space: pre-wrap;
}

.nextPage {
    display: grid;
    justify-content: end;
    margin-right: 10vw;
}


.bgAccordion {
    width: 100%;
    height: 100%;

    margin: 0 auto;
}

.outerAccordionGroup {
    width: 100%;
}

.bgName {
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    font-size: 5vmin;
    font-weight: 570;
}

.bgAccordion.accordion-collapsing,
.bgAccordion.accordion-collapsed {
  width: calc(100% - 32px);
  box-shadow: 0 4px 12px rgba(132, 132, 50, 0.20);
  transition: all 800ms;
  
  div {
    transition: all 800ms;
  }

  margin: 0px auto;
}

.bgAccordion.accordion-expanding,
.bgAccordion.accordion-expanded {
    margin: 16px auto;

    transition: all 600ms;
    box-shadow: 0 8px 8px rgba(212, 33, 33, 0.4);

    div {
        transition: all 600ms;
    }

}

.yellowBorderBottom {
    border-bottom: 1px solid rgba(201, 228, 19, 0.75);
}

.redBorderBottom {
   border-bottom: 2px solid rgba(228, 13, 13, 0.60);
}

.innerAccordion {
    margin: 0px auto;
    width: 90%;
}

.innerAccordion.accordion-expanding,
.innerAccordion.accordion-expanded {
    margin: 8px auto;
    border:2px solid rgba(201, 228, 19, 0.75);
    border-radius: 10px;
    transition: all 500ms ease-in;
}

ion-thumbnail {
    background-color: rgb(215, 240, 136);
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
}

.innerAccordionGroup {
    margin-top: 25px;
}

.innerContent {
    max-width: 100%;
    width: 100%;
    // border-left: 2px solid rgba(228, 13, 13, 0.4);
    // border-right: 2px solid rgba(228, 13, 13, 0.4);
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 700ms ease-in;
}

app-label {
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.goBack {
    width: 30vmin;
    margin-top: 2vh;
    margin-left: 2vw;
}

div[slot="content"] {
    overflow: hidden;
}

.initialDescContainer {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.backgroundSelectionButton {
    font-weight: 545;
    --background: yellow;
    margin: 25px;
    width: 30%;
    display: grid;
    justify-items: end;
    justify-content: end;
    margin-left: 65%;
}

.showChosen {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 3vh auto;
}

.upperDetailsContainer {
    margin: 0px auto;
    margin-left: 2%;
    border: 2px solid rgb(171, 32, 32);
    border-radius: 20px;
    width: 20vw;
    background-color: rgba(255, 109, 109, 0.331);
    backdrop-filter: blur(5em);
}

.selectedShow {
    margin-left: 1vw;
}