<ion-content>
  <div id="pageTitle">
    <div>
      <ion-title id="title">Scegli il tuo background</ion-title>
    </div>
  </div>

  <div class="goBack">
    <app-button
    [button] = "{ text: 'Torna indietro', expand: ''}"
    [context] = "buttonCallbacks['previousPage']"
    ></app-button>
  </div>

  <!-- Sezione iniziale per la scelta dei background -->
  <ion-item class="backgroundSelectionFrame">
    <app-accordion
      [accordions] = "accordions"
      [allowMultipleEnabled] = "true"
    ></app-accordion>
  </ion-item>

  <!-- footer con bottone per andare alla prossima pagina -->
  <div class="nextPage">
      <app-button
      [button] = "{ text: 'Prossima pagina', expand: ''}"
      [context] = "buttonCallbacks['nextPage']"
      ></app-button>
  </div>
</ion-content>
