<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Scegli il tuo background</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Sezione iniziale per la scelta dei background -->
  <ion-item class="backgroundSelectionFrame">
    <app-accordion
      [accordions] = "accordions"
      [allowMultipleEnabled] = "true"
    ></app-accordion>
  </ion-item>

  <!-- footer con bottone per andare alla prossima pagina -->
  <ion-footer>
    <ion-item slot="end">
      <app-button
      [button] = "b1_button"
      [context] = "b2_context"
      ></app-button>
    </ion-item>
  </ion-footer>
</ion-content>
