<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo">DnDhub</ion-title>
    <ion-title class="title">Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="signin-content">

  <div class="background"></div>

  <div class="form">
    <ion-text class="subtitle">
      Insert your credentials to access
    </ion-text>

    <div class="entry-group">
      <app-entry #email class="entry"
        placeholder="Insert your email"
        fill="outline"
        label="Email"
        labelPlacement="floating"
      ></app-entry>
      <app-entry #password class="entry"
        [passwordToggle]="true"
        placeholder="Insert your password"
        fill="outline"
        label="Password"
        labelPlacement="floating"
      ></app-entry>
      <app-button
      [button]="{text: 'Log in', expand: 'false'}"
      [context]="{onClick: doLogin}"
      ></app-button>
    </div>

    <div class="link-wrapper">
      <ion-text>
        Do you not own an account?
      </ion-text>

      <a routerLink="/signin-page" class="signin-page-link">
        Register now!
      </a> 
    </div>

  </div>

</ion-content>