<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="Logo">DnDhub</ion-title>
    <ion-title class="Titolo">Accedi o Registrati</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">

  <div class="background"></div>

  <div class="content">

    <ion-text class="subtitle">
      Inserisci le tue credenziali per accedere o registrarti.
    </ion-text>

    <form [formGroup]="formGroup">
      <ion-item lines="full">
        <ion-input 
        formControlName="email"
        id="emailArea" 
        type="text" 
        placeholder="Email o username"></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input
        formControlName="" 
        id="passwordArea" 
        type="password" 
        placeholder="Password"></ion-input>
      </ion-item>

      <div class="button-wrapper">
        <app-button 
          [button]="loginButton"
          [context]="buttonCallbacks['authLogin']">
        </app-button>
      </div>
    </form>

    <div class="link-wrapper">
      <ion-text>
        Non hai un account?
      </ion-text>

      <a routerLink="/signin-page" class="signup-link">
        Registrati subito
      </a> 
    </div>

  </div>

</ion-content>