<ion-content>
  <div id="pageTitle">
    <div>
      <ion-title id="title">Scegli la tua specie</ion-title>
    </div>
  </div>

  <!-- prima sezione con menù a tendina -->
   <ion-item class="speciesSelectionFrame">
    <app-accordion
      [accordions] = "accordions"
      [allowMultipleEnabled] = "true"
    ></app-accordion>
  </ion-item>

  <!-- footer con bottone per andare alla prossima pagina -->
  <ion-footer>
    <ion-item slot="end">
      <app-button
      [button] = "b1_button"
      [context] = "b2_context"
      ></app-button>
    </ion-item>
  </ion-footer>
</ion-content>