<ion-content>
  <div id="pageTitle">
    <div>
      <ion-title id="title">Campagne</ion-title>
    </div>
  </div>

  <!-- all'inizio big aaah bottono per inserire nuova campagna
       poi tutte le campagne di cui si fa parte -->

  <ion-item>
    <ion-grid>
      <!-- prima riga con bottone creazione nuova campagna -->
      <ion-row>
        <app-button
        [button] = "{ text: 'Crea nuova campagna (da sostituire con +)', expand: ''}"
        [context] = "buttonCallbacks['createCampaign']"
        ></app-button>
      </ion-row>
      <!-- for per la scrittura di tutte le proprie campagne -->
      @for (card of campaignCards; track card) {
        <app-card
        [card] = "card"
        ></app-card>
      }
    </ion-grid>
  </ion-item>
</ion-content>
