<div id="content">
  <div class="title">Campagne</div>

  <app-button id="goback"
  [button]="{text: 'Torna indietro', expand: 'false'}"
  [context]="{onClick: goBack}"
  ></app-button>
  <div class="campaigns">
    <div class="add-button">
      <div>
        <app-button
        [button]="{text: '+', expand: 'false'}"
        [context]="{onClick: createCampaign}"
        ></app-button>
      </div>
    </div>
    @for(card of cards(); track $index) {
      <div class="separator"></div>
      <app-campaign-card 
      [card]="card"
      ></app-campaign-card>
    }
  </div>

</div>