<ion-content>
  <div id="pageTitle">
    <div>
      <ion-title id="title">Area personale giocatore</ion-title>
    </div>
  </div>

  <app-button
    [button]= "{ text: 'Vai alle campagne', expand: ''}"
    [context]= "buttonCallbacks['goToCampaigns']"
  ></app-button>

  <ion-grid>
    <ion-row>
      <app-button
        [button]= "{ text: 'Vai alle campagne', expand: ''}"
        [context]= "buttonCallbacks['goToCampaigns']"
      ></app-button>
  <app-button
    [button] = "{ text: 'Crea Personaggio', expand: ''}"
    [context] = "buttonCallbacks['createChar']"
  ></app-button>


<ion-content>
  <ion-grid>
    <ion-row>
    </ion-row>
     <ion-row>
      <app-card
        [card] = "cards"
      ></app-card>
     </ion-row>
  </ion-grid>
</ion-content>
