<ion-content>
<div id="content">
  <div id="pageTitle">
    <div>
      <ion-title class="title">Player personal area</ion-title>
    </div>
  </div>


  <app-button id="goback"
    [button]="{text: 'Go Back', expand: 'false'}"
    [context]="buttonCallbacks['goBack']"
  ></app-button>
  @if (!seeCampaigns) {
  <div class="toggleFrame">
    <app-button
      [button]= "{ text: 'See campaigns', expand: ''}"
      [context]= "buttonCallbacks['toggle']"
    ></app-button>
  </div>

  <div class="characters">
    <div class="add-button">
      <div>
        <app-button
        [button]="{text: '+', expand: 'false'}"
        [context]="buttonCallbacks['createChar']"
        ></app-button>
      </div>
    </div>
    @for(card of characterCards(); track $index) {
      <div class="separator"></div>
      <app-character-card 
      [card]="card"
      ></app-character-card>    
      <ion-button class="genericButton"
      (click)="setCharacterName(card.title)"
      >Character details</ion-button>
    }
  </div>
  }
  @else {
  <div class="toggleFrame">
    <app-button
    [button]= "{ text: 'See characters', expand: ''}"
    [context]= "buttonCallbacks['toggle']"
    ></app-button>
  </div>  

  <div class="campaigns">
    <div class="add-button">
      <div>
        <app-button
        [button]="{text: '+', expand: 'false'}"
        [context]="buttonCallbacks['joinCampaign']"
        ></app-button>
      </div>
    </div>
    @for(card of campaignCards(); track $index) {
      <div class="separator"></div>
      <app-campaign-card 
      [card]="card"
      [campaign]="getCampagna($index)"
      [buttonCampaign]="false"
      ></app-campaign-card>
    }
  </div>
  }

</div>
</ion-content>

