<div class="background"></div>

<div id="content">
  <ion-title class="title">Create a campaign</ion-title>

  <div id="entries">
    <div class="frame">
      <ion-label class="label">Insert the campaign's name</ion-label>
      <ion-input [(ngModel)]="name" placeholder="Name"></ion-input>
    </div>
    
    <div class="frame">
      <ion-label class="label">Select party players</ion-label>
      @for(player of selectedPlayers(); track $index) {
        <ion-label>{{player}}</ion-label>
      }
      <ion-searchbar 
      debounce="500" 
      placeholder="Search player"
      (ionInput)="loadPlayers"
      ></ion-searchbar>
      @for(player of availablePlayers(); track $index) {
        <ion-label>{{player}}</ion-label>
      }
    </div>
    
    <div class="frame">
      <ion-label class="label">Insert a description</ion-label>
      <ion-textarea [(ngModel)]="description" placeholder="Description"></ion-textarea>
    </div>
  
    <div class="frame">
      <ion-label class="label">Link(s) to useful documents</ion-label>
      <ion-input placeholder="Documents"></ion-input>
    </div>
  
    <app-button
      [button]="{ text: 'Create', expand: 'false'}"
      [context]="{ onClick: createCampaign }">
    </app-button>
  </div>

</div>
