<ion-content>
  <div id="pageTitle">
    <div>
      <ion-title id="title">Crea una campagna</ion-title>
    </div>
  </div>

  <!-- grid super big con tutte le textarea all'interno -->
  <ion-item>
    <ion-grid>
      
      <!-- prima riga con nome campagna e "invita giocatori" -->
      <ion-row>

        <!-- prima colonna con nome campagna -->
        <ion-col>
          <div>
            <!-- uso div per dare ordine con flex -->
            <ion-label>Inserire il nome della campagna: </ion-label>
            <!-- la text area non capisco perché non funziona  -->
            <ion-input></ion-input>
          </div>
        </ion-col>

        <!-- seconda colonna con nomi dei giocatori da aggiungere -->
        <ion-col>
          <div>
            <!-- uso div per dare ordine con flex -->
            <ion-label>Inserire i giocatori che parteciperanno: </ion-label>
            <!-- la text area non capisco perché non funziona  -->
            <ion-input></ion-input>
          </div>
        </ion-col>

      </ion-row>

      <!-- seconda riga con descrizione della campagna
           idealmente questa div dovrebbe avere una scrollbar piuttosto che occupare un sacco di spazio -->
      <ion-row>
        <div>
          <ion-label>Descrizione campagna: </ion-label>
          <!-- Secondo div per la scrollbar -->
          <div class="scrollDiv">
            <app-text-area></app-text-area>
          </div>
        </div>
      </ion-row>

    <!-- terza riga per link d'invito generato e link immagine banner da aggiungere -->
    <ion-row>

      <!-- prima colonna con link d'invito -->
      <ion-col>
        <div>
          <!-- uso div per dare ordine con flex -->
          <ion-label>Inserire il nome della campagna: </ion-label>
          <ion-label>LINK</ion-label>
        </div>
      </ion-col>

      <!-- seconda colonna con link banner -->
      <ion-col>
        <div>
          <!-- uso div per dare ordine con flex -->
          <ion-label>Link dell'immagine banner: </ion-label>
          <!-- la text area non capisco perché non funziona  -->
            <ion-input></ion-input>
        </div>
      </ion-col>
      
    </ion-row>

    <!-- quarta e ultima riga con link a documenti utili e bottone di completamento -->

    <ion-row>

      <!-- prima colonna con link utili -->
      <ion-col>
        <div>
          <!-- uso div per dare ordine con flex -->
          <ion-label>Link(s) a documenti utili: </ion-label>
          <!-- la text area non capisco perché non funziona  -->
            <ion-input></ion-input>
        </div>
      </ion-col>

      <!-- seconda colonna con bottone -->

      <ion-col>
        <div>
          <app-button
          [button] = "{ text: 'conferma e crea campagna', expand: ''}"
          [context] = "buttonCallbacks['finishCreation']"
          >
          </app-button>
        </div>
      </ion-col>
    </ion-row>

    </ion-grid>
  </ion-item>
</ion-content>
