<ion-content>
  <ion-item id="pageTitle">
    <div>
      <ion-title id="title">Scegli l'equipaggiamento</ion-title>
    </div>
  </ion-item>

  <!-- grid dove si andrà a mettere tutto quello che ci interessa -->
  <ion-item class="gridContainer">
    <ion-grid>
      
      <!-- riga prima della prima riga per mostrare oro corrente -->
      <ion-row>
        <!-- oro corrente -->
        <ion-col>
          <ion-item>
            <ion-label>Budget attuale: {{budgetTotale}} monete d'oro</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- prima riga con le categorie -->
      <ion-row>
        <!-- Nome oggetto -->
        <ion-col>
          <ion-item>
            <ion-label>Oggetto</ion-label>
          </ion-item>
        </ion-col>

        <!-- Costo oggetto -->
        <ion-col>
          <ion-item>
            <ion-label>Costo</ion-label>
          </ion-item>
        </ion-col>

        <!-- descrizione oggetto -->
        <ion-col>
          <ion-item>
            <ion-label>Descrizione</ion-label>
          </ion-item>
        </ion-col>

        <!-- Quantità oggetto -->
        <ion-col>
          <ion-item>
            <ion-label>Quantità</ion-label>
          </ion-item>
        </ion-col>

      </ion-row>

      @for (object of objects; track object) {
        <ion-row>

          <!-- Nome oggetto -->
          <ion-col>
            <ion-item>
              <ion-label>{{object.nome}}</ion-label>
            </ion-item>
          </ion-col>

          <!-- Costo oggetto -->
          <ion-col>
            <ion-item>
              <ion-label>{{object.costo}} monete d'oro</ion-label>
            </ion-item>
          </ion-col>

          <!-- Descrizione oggetto -->
          <ion-col>
            <ion-item>
              <ion-label>{{object.descrizione}}</ion-label>
            </ion-item>
          </ion-col>

          <!-- quantità oggetto -->
          <ion-col>
            <app-drag-entry
            [sensitivity] = 1
            [min] = 0
            >
            </app-drag-entry>
          </ion-col>

        </ion-row>
      }

      <!-- ricordarsi, più avanti, di fare una riga per equip personalizzato -->

    </ion-grid>
  
  </ion-item>

  <ion-footer>
    <ion-item slot="end">
      <app-button
      [button] = "{ text: 'Accetta e vai avanti', expand: ''}"
      [context] = "buttonCallbacks['nextPage']"
      ></app-button>
    </ion-item>
  </ion-footer>

</ion-content>
