<ion-content>
  <app-title
  [title] = "'Scegli l\'equipaggiamento'"
   ></app-title>

  <div class="goBack">
    <app-button
    [button] = "{ text: 'Torna indietro', expand: ''}"
    [context] = "buttonCallbacks['previousPage']"
    ></app-button>
  </div>

  <!-- grid dove si andrà a mettere tutto quello che ci interessa -->
  <ion-item class="gridContainer">
    <ion-grid>
      
      <!-- riga prima della prima riga per mostrare oro corrente -->
      <ion-row class="budgetRow">
        <!-- oro corrente -->
        <ion-col class="budgetCol">
          <div class="budgetDiv">
            <app-label>Budget attuale: {{budgetTotale}} monete d'oro</app-label>
          </div>
        </ion-col>
      </ion-row>

      <!-- prima riga con le categorie -->
      <ion-row>
        <!-- Nome oggetto -->
        <ion-col>
          <div class="categoryTitle">
            <app-label>Oggetto</app-label>
          </div>
        </ion-col>

        <!-- Costo oggetto -->
        <ion-col>
          <div class="categoryTitle">
            <app-label>Costo</app-label>
          </div>
        </ion-col>

        <!-- descrizione oggetto -->
        <ion-col>
          <div class="categoryTitle">
            <app-label>Descrizione</app-label>
          </div>
        </ion-col>

        <!-- Quantità oggetto -->
        <ion-col>
          <div class="categoryTitle">
            <app-label>Quantità</app-label>
          </div>
        </ion-col>

      </ion-row>

      @for (object of objects; track object) {
        <ion-row>

          <!-- Nome oggetto -->
          <ion-col>
            <div class="listElement">
              <app-label>{{object.nome}}</app-label>
            </div>
          </ion-col>

          <!-- Costo oggetto -->
          <ion-col>
            <div class="listElement">
              <app-label>{{object.costo}} monete d'oro</app-label>
            </div>
          </ion-col>

          <!-- Descrizione oggetto -->
          <ion-col>
            <div class="listElement">
              <app-label>{{object.descrizione}}</app-label>
            </div>
          </ion-col>

          <!-- quantità oggetto -->
          <ion-col>
            <app-drag-entry
            class="listElement dragEntryElement"
            [sensitivity] = 1
            [min] = 0
            >
            </app-drag-entry>
          </ion-col>

        </ion-row>
      }

      <!-- ricordarsi, più avanti, di fare una riga per equip personalizzato -->

    </ion-grid>
  
  </ion-item>

  <div class="nextPage">
    <app-button
    [button] = "{ text: 'Vai alla prossima pagina', expand: ''}"
    [context] = "buttonCallbacks['nextPage']"
    ></app-button>
  </div>

</ion-content>
