<ion-content>
  <ion-split-pane when="xs" contentId="main">
    <ion-menu contentId="main" id="menu">
      <ion-header id="menu-title">
        <ion-toolbar>
          <ion-title>Profilo Personale</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content id="content">
        <div id="profile-image">
          <img src="https://static.wikia.nocookie.net/dragonball/images/9/91/SSJ4_20.jpg/revision/latest/scale-to-width-down/985?cb=20240630012825" alt="'imgPlaceholder'">
        </div>

        <div id="buttons">
          <app-button class="button" 
            [margin]="false"
            [button]="{text: 'Torna indietro', expand: 'false'}"
            [context] = "buttons.goBack"
            ></app-button>
          <app-button class="button"
            [margin]="false"
            [button] = "{ text: 'Modifica account', expand: ''}"
            [context] = "buttons.enableAccountEdit"
          ></app-button>
          <app-button class="button"
            [margin]="false"
            [button] = "{ text: 'Elimina account', expand: ''}"
            [context] = "buttons.deleteAccount"
          ></app-button>
          <app-button class="button"
            [margin]="false"
            [button] = "{ text: 'Effettua l\'uscita', expand: ''}"
            [context] = "buttons.logOut"
          ></app-button>
        </div>

        @if(isAdmin()) {
          <div class="admin-info">
            <div class="info">Sei un amministratore</div>
          </div>
        }
      </ion-content>
    </ion-menu>

    <div class="dashboard", id="main">
      <div id="info-pane">
        <app-entry #username
          placeholder="Nome utente"
          [disabled]="true"
        ></app-entry>
        <div class="padding"></div>
        <app-entry #email
          placeholder="Indirizzo email"
          [disabled]="true"
        ></app-entry>
        <div class="padding"></div>
        <app-entry #password
          placeholder="Password"
          [disabled]="true"
        ></app-entry>
        <div class="padding"></div>
        <app-button class="save-button" id="save-alert"
          [margin]="false"
          [button] = "{ text: 'Salva', expand: ''}"
          [context] = "buttons.save"
        ></app-button>
      </div>
    </div>

  </ion-split-pane>
</ion-content>
