<ion-content>
  <ion-split-pane when="xs" contentId="main">
    <ion-menu contentId="main" id="menu">
      <ion-header id="menu-title">
        <ion-toolbar>
          <ion-title>Personal Profile</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content id="content">


        <div id="buttons">
          <app-button class="button" 
            [margin]="false"
            [button]="{text: 'Go back', expand: 'false'}"
            [context] = "{ onClick: goBack }"
            ></app-button>
          <app-button class="button"
            [margin]="false"
            [button] = "{ text: 'Modify account', expand: ''}"
            [context] = "{ onClick: enableAccountEdit }"
          ></app-button>
          <app-button class="button"
            [margin]="false"
            [button] = "{ text: 'Delete account', expand: ''}"
            [context] = "{ onClick: deleteAccount }"
          ></app-button>
          <app-button class="button"
            [margin]="false"
            [button] = "{ text: 'Log out', expand: ''}"
            [context] = "{ onClick: logOut }"
          ></app-button>
        </div>

        @if(isAdmin()) {
          <div class="admin-info">
            <div class="info">You are an admin</div>
          </div>
        }
      </ion-content>
    </ion-menu>

    <div id="main">
      @if(isAdmin()) {
        
        <ion-tabs (ionTabsDidChange)="onTabChange($event.tab)">
          
          <ion-tab tab="credentials">
            <ion-header>
              <ion-toolbar>
                <ion-title>Credentials</ion-title>
              </ion-toolbar>
            </ion-header>

            <div class="dashboard">
              <div id="info-pane">
                <app-entry
                  [onValueChanged]="setUsernameField"
                  placeholder="Insert username"
                  fill="outline"
                  label="Username"
                  labelPlacement="floating"
                  [value]="usernameField()"
                  [disabled]="!editMode()"
                ></app-entry>
                <div class="padding"></div>
                <app-entry
                  [onValueChanged]="setEmailField"
                  placeholder="Insert email address"
                  fill="outline"
                  label="Email"
                  labelPlacement="floating"
                  [value]="emailField()"
                  [disabled]="!editMode()"
                ></app-entry>
                <div class="padding"></div>
                <app-entry
                  [onValueChanged]="setPasswordField"
                  placeholder="Insert password"
                  fill="outline"
                  label="Password"
                  labelPlacement="floating"
                  [value]="passwordField()"
                  [disabled]="!editMode()"
                ></app-entry>
                <div class="padding"></div>

                <app-button class="save-button" id="save-alert"
                  [margin]="false"
                  [button] = "{ text: 'Save', expand: ''}"
                  [context] = "{ onClick: save }"
                ></app-button>
              </div>
            </div>
          </ion-tab>
          
          <ion-tab tab="reports">
            <ion-header>
              <ion-toolbar>
                <ion-title>Reports</ion-title>
              </ion-toolbar>
            </ion-header>
            
            <div class="reports-content">

              <app-entry
              placeholder="Search"
              [onValueChanged]="setReportsFilter"
              ></app-entry>
              
              @for(report of reports(); track report) {
                <app-report-card
                [sender] = "report.sender"
                [when] = "report.when"
                [reason] = "report.reason"
                [description] = "report.description"
                [onClose] = "report.onClose"
                ></app-report-card>
              }

              <app-button
              [button]="{text: 'CLoad more reports', expand: 'false'}"
              [context]="{ onClick: moreReports }"
              ></app-button>
            </div>
          </ion-tab>

          <ion-tab-bar slot="bottom">
            <ion-tab-button tab="credentials">Profile</ion-tab-button>
            <ion-tab-button tab="reports">Reports</ion-tab-button>
          </ion-tab-bar>
    
        </ion-tabs>
      } @else {
        <div class="dashboard">
          <div id="info-pane">
            <app-entry
              [onValueChanged]="setUsernameField"
              placeholder="Insert username"
              fill="outline"
              label="Username"
              labelPlacement="floating"
              [value]="usernameField()"
              [disabled]="!editMode()"
            ></app-entry>
            <div class="padding"></div>
            <app-entry
              [onValueChanged]="setEmailField"
              placeholder="Insert email address"
              fill="outline"
              label="Email"
              labelPlacement="floating"
              [value]="emailField()"
              [disabled]="!editMode()"
            ></app-entry>
            <div class="padding"></div>
            <app-entry
              [onValueChanged]="setPasswordField"
              placeholder="Insert password"
              fill="outline"
              label="Password"
              labelPlacement="floating"
              [value]="passwordField()"
              [disabled]="!editMode()"
            ></app-entry>
            <div class="padding"></div>
            <app-button class="save-button" id="save-alert"
              [margin]="false"
              [button] = "{ text: 'Save', expand: ''}"
              [context] = "{ onClick: save }"
            ></app-button>
          </div>
        </div>
      }
    </div>

  </ion-split-pane>
</ion-content>
