
.informationContainer {
    width: 70vw;
    margin-right: 8vw;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(46, 53, 65, 0.753);
}

.imgFrame {
    display: flex;
    align-items: center;
    max-width: 25vmin;
    max-height: 30vmin;
    border-radius: 100%;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    overflow: hidden;
}

.imgAndOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 15vw;
    height: 100%;
}


.informationBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: rgba(30, 28, 28, 0.685);
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(85, 85, 85, 0.342);
}


.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.btn {
    justify-self: center;
    padding: 5px;
    width: 100%;
}

.gridContainer {
    margin-top: 3vh;
}


.entry-container {
    height: 100%;
    width: 90%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 2.5%;
}


.ion-padding {
    display: flex;  
}

