<ion-accordion-group [multiple]="allowMultipleEnabled" expand="inset">
  @for (accordion of accordions; track accordion) {
    <ion-accordion [value]="accordion.value" >
      <ion-item id="accHeader" slot="header" color="light">
        @if (accordion.imageURL !== undefined) {
          <ion-thumbnail slot="start">
            <img id="accImg" alt="placeholder img" [src]="accordion.imageURL">
          </ion-thumbnail>
        }
        @else {
          <ion-thumbnail slot="start">
            <img alt="placeholder img" [src]="plcImg">
          </ion-thumbnail>
        }
        <app-label [fontSize]="'3.5cqmin'">{{ accordion.title }}</app-label>
        
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-label> {{ accordion.content }} </app-label>
        @if (accordion.button !== undefined) {
          <div id="buttonContainer">
            <app-button
              [margin] = "false"
              [button] = "accordion.button.button"
              [context] = "accordion.button.context"
            >
            </app-button>
          </div>
        }
      </div>
    </ion-accordion>
  }
  <!-- <ion-accordion *ngFor="let accordion of accordions" [value]="accordion.value">
    <ion-item slot="header" color="light">
      <ion-label>{{ accordion.title }}</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">{{ accordion.content }}</div>
  </ion-accordion> -->
</ion-accordion-group>
