<ion-content>  
  <app-title
  [title] = "'Scegli la tua classe'"
  ></app-title>


  <!-- Sezione dedicata alla scelta della classe con menù a tendina
      NB: ogni menù a tendina dovrebbe avere all'interno un bottone 
      (o simile) che permette di selezionare quella classe tramite
      un booleano (o simile) -->

  <div class="goBack genericButton">
    <app-button
    [button] = "{ text: 'Torna indietro', expand: ''}"
    [context] = "b2_context"
    ></app-button>
  </div>
<!-- 
  <div class="classSelectionFrame">
    <app-accordion
      [accordions] = "accordions"
      [allowMultipleEnabled] = "true"
    ></app-accordion>
  </div> -->

  <!-- uso ion-accordion piuttosto che la nostra componente perché più semplice da modificare
   se mi piace, farò una componente di questo particolare tipo di accordion -->

  <div class="classSelectionFrame">
    <ion-accordion-group value="fatherAccordion" [multiple]="false" expand="inset">
      @for (class of classesArray; track class) {
        <ion-accordion [value]="class.value">
          <ion-item id="accHeader" slot="header" color="light">
            <!-- togliere commento se prima o poi vogliamo una immagine nell'accordion -->
            @if (class.imageURL !== undefined) {
              <ion-thumbnail slot="start">
                <img id="accImg" alt="placeholder img" [src]="class.imageURL">
              </ion-thumbnail>
            }
            @else {
              <ion-thumbnail slot="start">
                <img alt="placeholder img" [src]="'Card.defaultImageURL()'">
              </ion-thumbnail>
            }
            <app-label [fontSize]="'3.5cqmin'">{{ class.title }} - Dado Vita d{{class.hit_die}}</app-label>
          </ion-item>
          <!-- div relativo al contenuto -->
          <div class="ionPadding" slot="content">
            <app-label>{{class.desc}}</app-label>
            <ion-accordion-group [value]="class.value + 'group accordion'" class="innerAccordions" [multiple]="true" expand="inset">
            @for(accordion of class.content; track accordion) {
              @if(accordion.content !== undefined && accordion.content !== null && accordion.content !== []) {
                <ion-accordion [value]="accordion.value">
                  <ion-item id="accHeader" slot="header" color="light">
                    <app-label [fontSize]="'3.5cqmin'">{{accordion.title}}</app-label>
                  </ion-item>
                  <div id="gianni"
                  class="ionPaddin innerContent" slot="content">

                    <app-label>{{accordion.content}}</app-label>
                  </div>
                </ion-accordion>
              }
            }
            </ion-accordion-group>
          </div>
        </ion-accordion>
      }

    </ion-accordion-group>
  </div>


  <!-- Sezione dedicata alla selezione del livello 
      Ancora con elementi placeholder perché il number
      selector non è stato ancora implementato -->

  <div class="levelSelectionFrame">
    <!-- per favore non cambiate questa ion-label con app-label-->
    <ion-label class="levelSelectionLabel">
        Scegli un livello per il personaggio (1-20):
    </ion-label>
    <app-drag-entry
    [min] = 1
    [max] = 20
    [sensitivity] = 1
    ></app-drag-entry>
  </div>

  <div class="nextPage genericButton">
    <app-button
    [button] = "{ text: 'Prossima pagina', expand: ''}"
    [context] = "buttonCallbacks['nextPage']"
    ></app-button>
  </div>
</ion-content>