.classSelectionFrame {
    width: 70vw;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
    white-space: pre-wrap;
}

.nextPage {
    display: grid;
    justify-content: end;
}

.levelSelectionFrame {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 15px;
    flex-direction: column;
}

.levelSelectionLabel {
    padding-bottom: 20px;
    font-size: 2.5cqmin;
}