<ion-content>  
  <div id="pageTitle">
    <div>
      <ion-title id="title">Scegli la tua classe</ion-title>
    </div>
  </div>


  <!-- Sezione dedicata alla scelta della classe con menù a tendina
      NB: ogni menù a tendina dovrebbe avere all'interno un bottone 
      (o simile) che permette di selezionare quella classe tramite
      un booleano (o simile) -->

  <ion-item class="classSelectionFrame">
    <app-accordion
      [accordions] = "accordions"
      [allowMultipleEnabled] = "true"
    ></app-accordion>
  </ion-item>

  <!-- Sezione dedicata alla selezione del livello 
      Ancora con elementi placeholder perché il number
      selector non è stato ancora implementato -->

  <ion-footer>    
  <ion-item>
    <ion-grid>
      <ion-row>
        <!-- prima colonna label -->
        <ion-col>
        <ion-label>
          Scegli un livello per il personaggio (1-20):
        </ion-label>
      </ion-col>
      <!-- seconda colonna number picker -->
      <ion-col>
        <app-text-area
        [fill] = "'solid'"
        [errorText] = "'Il valore dovrebbe essere contenuto tra 1 e 20'"
        >
        </app-text-area>
      </ion-col>
      <!-- terza colonna bottone di conferma scelta -->
      <ion-col>
        <app-button
        [button] = "b1_button"
        [context] = "b2_context"
        ></app-button>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  </ion-footer>
</ion-content>