.carousel {
  overflow: hidden;
  display: flex;
  mask-image: linear-gradient(
    to right, 
    transparent, 
    black 10%, 
    black 90%, 
    transparent
  );
}

.group {
  display: flex;
  flex: 0 0 100%; 
  align-items: center;
  justify-content: flex-start; 
  gap: 2.5%;
  padding-right: 2.5%;
  animation: spin 15s infinite linear;
}

app-card {
  flex: 1 0 0;
  height: 100%;
  align-content: center;
}

@keyframes spin {
  from { transform: translateX(0%); }
  to { transform: translateX(-100%); }
}