<ion-content>
  <div class="imgbackground"></div>

  <div class="contentContainer">

    <div class="buttonsAndDetails">

      <div class="buttonPost">
        <app-button [button]="{text: 'Go Back', expand: ''}" [context]="buttonCallbacks['placeholder']">
        </app-button>
      </div>

      <div class="details">

        <div class="campaignName">
          <ion-label>{{ campaignName }}</ion-label>
        </div>

        <div class="players">
          <ion-label class="titoloGiocatori">Players</ion-label>

          @for (player of players; track player) {
          <div class="playerNames">
            <ion-label>{{ player.name }}</ion-label>
            <ion-label>{{ player.character }}</ion-label>
          </div>
          }
          <!-- poi se mi va faccio una sorta di card anche per questo -->

        </div>
      </div>
      <app-button [button]="{text:'Campaign details', expand:''}" [context]="buttonCampaignCallBacks['placeholder']">
      </app-button>
    </div>


    <div class="postContainer">

      <div class="postBox1">

        <div class="CreaContent">
          <ion-label>Write your post</ion-label>
        </div>

        <ion-textarea class="TextAreaDesign" [(ngModel)]="postText" value="Andrea" placeholder="scrivi qua"
          auto-grow="true">
        </ion-textarea>

        <div class="postLowerInformation1">
          <ion-label>{{ campaignName }}</ion-label>

          <div class="buttonPost">
            <app-button [button]="{text: 'Post', expand: ''}" [context]="buttonContextPost['newPost']">
            </app-button>
          </div>

        </div>

      </div>


      @for (post of posts; track post) {
      <div class="postBox">

        <div class="postContent">
          <ion-label class="scrollbar">{{post.contenuto}}</ion-label>
        </div>

        <div class="postLowerInformation">
          <ion-label>{{ campaignName }}</ion-label>
          <ion-label>
            {{ post.time_stamp | date:'dd/MM/yy HH:mm' }}
          </ion-label>
          <app-button [button]="{text:'delete', expand:''}" [context]="{ onClick: deletePostClick(post.time_stamp) }">
          </app-button>
        </div>

      </div>
      }

    </div>

  </div>
</ion-content>