<ion-content>
  <div class="imgbackground"></div>
  <div class="contentContainer">
    <div class="buttonsAndDetails">
      <div class="buttonPost">
        <app-button [button]="{text: 'indietro', expand: '', color: 'red'}"
          [context]="buttonCallbacks['placeholder']"></app-button>
      </div>
      <div class="details">
        <div class="campaignName">
          <ion-label>{{ campaignName }}</ion-label>
        </div>

        <div class="players">
          <ion-label class="titoloGiocatori">Giocatori</ion-label>
          @for (player of players; track player) {
          <div class="playerNames">
            <ion-label>{{player.name}}</ion-label>
            <ion-label>{{player.character}}</ion-label>
          </div>
          }
        </div>
      </div>

      <!-- bottone nuovo post (idealmente) va a piè di pagina, sempre in sovrimpressione -->

    </div>



    <div class="postContainer">
      <div class="postBox1">

        <div class="CreaContent">
          <ion-label class="titoloPost">Pubblica il tuo nuovo post</ion-label>
        </div>
        <ion-textarea class="TextAreaDesign" [(ngModel)]="postText" placeholder="scrivi qua" auto-grow="true">
        </ion-textarea>

        <div class="postLowerInformation1">
          <ion-label>{{campaignName}}</ion-label>
          <div>
            <app-button [button]="{text: 'publica', expand: '', color: 'gold'}"
              [context]="buttonContextPost['newPost']"></app-button>
          </div>
        </div>

      </div>
      @for (post of posts; track post) {
      <div class="postBox">

        <div class="postContent">
          <p class="postVisualizzati">{{ post.text }}</p>
        </div>
        <div class="postLowerInformation">
          <ion-label>{{ campaignName }}</ion-label>
          <div class="imgFrame">
            <img src="post.senderImgURL" alt="'placeholderImg'">
          </div>
          <ion-label>{{ post.timestamp }}</ion-label>
        </div>

      </div>
      }
    </div>


  </div>
</ion-content>